../../.CFUserTextEncoding
	../../.DS_Store
	../../.Trash/
	../../.android/
	../../.bash_history
	../../.bash_profile
	../../.bash_sessions/
	../../.bashrc
	../../.config/
	../../.electrum/
	../../.gitconfig
	../../.local/
	../../.m2/
	../../.mysql_history
	../../.node_repl_history
	../../.npm/
	../../.oh-my-zsh/
	../../.shell.pre-oh-my-zsh
	../../.ssh/
	../../.tooling/
	../../.viminfo
	../../.vscode/
	"../../.zcompdump-Tom\303\241s\342\200\231s MacBook Pro-5.3"
	../../.zsh_history
	../../.zshrc
	../../App.class
	../../App.java
	../../App3
	../../Applications/
	../../Calculator/
	../../Class
	../.DS_Store
	../.localized
	../00fidget.gif
	../0Bjhsbc.jpg
	../1.jpg
	../10HelloWorld.java
	../2.jpg
	../32-329106_free-png-download-fire-png-images-background-png.png
	../69.png
	../Artboard 2@0.5x-8.png
	../Aula_Marco/
	../Counter-Strike Global Offensive.app/
	../Country.sql
	../GIMP-2.10.app/
	../GRUPO2_MindDaSpot_schemas.sql
	../Html/
	../Initials
	../Initials.class
	../Initials.java
	../Java/
	../JavaScript/
	../MINDERA/
	../Main
	../Screenshot 2019-09-11 at 09.42.31.png
	../Screenshot 2019-09-11 at 09.42.47.png
	../Screenshot 2019-09-16 at 09.21.49.png
	../Screenshot 2019-09-17 at 14.36.25.png
	../Screenshot 2019-09-17 at 14.36.31.png
	../Screenshot 2019-09-25 at 12.34.09 (2).png
	../Screenshot 2019-09-25 at 12.34.09.png
	../Screenshot 2019-09-25 at 12.34.13.png
	../Screenshot 2019-09-25 at 12.39.01 (2).png
	../Screenshot 2019-09-25 at 12.39.01.png
	../Screenshot 2019-09-26 at 12.24.13 (2).png
	../Screenshot 2019-09-26 at 12.24.13.png
	../Screenshot 2019-09-26 at 12.24.37 (2).png
	../Screenshot 2019-09-26 at 12.24.37.png
	../Screenshot 2019-10-02 at 17.13.18 (2).png
	../Screenshot 2019-10-02 at 17.13.18.png
	../Screenshot 2019-10-07 at 14.29.17 (2).png
	../Screenshot 2019-10-07 at 14.29.17.png
	../Screenshot 2019-10-16 at 15.15.00 (2).png
	../Screenshot 2019-10-16 at 15.15.00.png
	../Screenshot 2019-10-16 at 17.14.28 (2).png
	../Screenshot 2019-10-16 at 17.14.28.png
	../Screenshot 2019-10-16 at 17.39.36 (2).png
	../Screenshot 2019-10-16 at 17.39.36.png
	../Screenshot 2019-10-16 at 17.42.57 (2).png
	../Screenshot 2019-10-16 at 17.42.57.png
	../Screenshot 2019-10-16 at 17.43.39 2.png
	../Screenshot 2019-10-16 at 17.43.39.png
	../Screenshot 2019-10-16 at 17.47.26 (2).png
	../Screenshot 2019-10-16 at 17.47.26.png
	../Screenshot 2019-10-23 at 10.02.10 (2).png
	../Screenshot 2019-10-23 at 10.02.10.png
	../Screenshot 2019-10-23 at 11.50.32 (2).png
	../Screenshot 2019-10-23 at 11.50.32.png
	../Screenshot 2019-10-23 at 11.59.43 (2).png
	../Screenshot 2019-10-23 at 11.59.43.png
	../Screenshot 2019-10-23 at 12.03.49 (2).png
	../Screenshot 2019-10-23 at 12.03.49.png
	../Screenshot 2019-10-23 at 12.19.42 (2).png
	../Screenshot 2019-10-23 at 12.19.42 1(2).png
	../Screenshot 2019-10-23 at 12.19.42 1.png
	../Screenshot 2019-10-23 at 12.19.42.png
	../Screenshot 2019-10-23 at 12.36.58 (2).png
	../Screenshot 2019-10-23 at 12.36.58.png
	../Screenshot 2019-10-23 at 12.38.00 (2).png
	../Screenshot 2019-10-23 at 12.38.00.png
	../Screenshot 2019-10-23 at 12.39.38 (2).png
	../Screenshot 2019-10-23 at 12.39.38.png
	../Screenshot 2019-10-23 at 12.42.29 (2).png
	../Screenshot 2019-10-23 at 12.42.29.png
	../Screenshot 2019-10-25 at 20.33.31.png
	../Screenshot 2019-10-25 at 20.33.36.png
	../Screenshot 2019-10-30 at 10.53.31 (2).png
	../Screenshot 2019-10-30 at 10.53.31 (3).png
	../Screenshot 2019-10-30 at 10.53.31.png
	../Screenshot 2019-10-30 at 10.53.37 (2).png
	../Screenshot 2019-10-30 at 10.53.37 (3).png
	../Screenshot 2019-10-30 at 10.53.37.png
	../Screenshot 2019-10-30 at 10.53.45 (2).png
	../Screenshot 2019-10-30 at 10.53.45 (3).png
	../Screenshot 2019-10-30 at 10.53.45.png
	../Screenshot 2019-10-30 at 11.05.06 (2).png
	../Screenshot 2019-10-30 at 11.05.06 (3).png
	../Screenshot 2019-10-30 at 11.05.06.png
	../Screenshot 2019-10-30 at 11.14.06 (2).png
	../Screenshot 2019-10-30 at 11.14.06 (3).png
	../Screenshot 2019-10-30 at 11.14.06.png
	../Screenshot 2019-10-30 at 11.16.12 (2).png
	../Screenshot 2019-10-30 at 11.16.12 (3).png
	../Screenshot 2019-10-30 at 11.16.12.png
	../Screenshot 2019-10-30 at 11.16.33 (2).png
	../Screenshot 2019-10-30 at 11.16.33 (3).png
	../Screenshot 2019-10-30 at 11.16.33.png
	../Screenshot 2019-10-30 at 15.30.24 (2).png
	../Screenshot 2019-10-30 at 15.30.24 (3).png
	../Screenshot 2019-10-30 at 15.30.24.png
	../Screenshot 2019-10-31 at 11.30.45 (2).png
	../Screenshot 2019-10-31 at 11.30.45 (3).png
	../Screenshot 2019-10-31 at 11.30.45.png
	../Screenshot 2019-10-31 at 11.46.33 (2).png
	../Screenshot 2019-10-31 at 11.46.33 (3).png
	../Screenshot 2019-10-31 at 11.46.33.png
	../Screenshot 2019-11-06 at 21.09.55.png
	../Screenshot 2019-11-12 at 16.55.33 (2).png
	../Screenshot 2019-11-12 at 16.55.33.png
	../Screenshot 2019-11-17 at 23.34.25.png
	../Screenshot 2019-11-21 at 16.13.23 (2).png
	../Screenshot 2019-11-21 at 16.13.23.png
	../Screenshot 2019-11-26 at 15.40.01 (2).png
	../Screenshot 2019-11-26 at 15.40.01.png
	../Screenshot 2019-12-03 at 15.31.29 (2).png
	../Screenshot 2019-12-03 at 15.31.29.png
	../Sql - MusicDatabase/
	../TM.mdj
	../Teste.odt
	../Tomas_Martins1.sql
	"../Tom\303\241s_Martins.mdj"
	../WhatsApp
	../aaw_yeah.gif
	../backend/
	../ban_hammer.png
	../cinema/
	../employees_exercises.txt
	../fidget_spinner.gif
	../hypnotoad.gif
	../logo.png
	../lol.gif
	../main.java
	../notbad.jpg
	../ok.jpg
	../poop.gif
	../stdlib.jar
	../tomasmartins01.github.io/
	"../tom\303\241s_martins.sql"
	../work/
	../../Documents/
	../../Downloads/
	../../Game/
	../../IdeaProjects/
	../../Library/
	../../MindDaSpot/
	../../Movies/
	../../Music/
	../../MusicTable/
	../../Musics/
	../../Pictures/
	../../Public/
	../../Sequencia./
	../../Sequencia/
	../../Untitled.txt
	../../bandersnatch/
	../../binarytree/
	../../homebrew/
